/*-- Team --*/
.thumbnail.team-w3agile img {
    margin: 0 auto;
    width: inherit;
    width: 100%;
}
.thumbnail.team-w3agile {
    position: relative;
    overflow: hidden;
}
.thumbnail {
    padding: 0px; 
    border: none;
    border-radius: 0;
    margin-bottom:0;
}
.thumbnail.team-w3agile h4 {
    font-size: 1.2em;
    font-weight: 700;
    color: #000000;
    margin: 0em 0 0em;
    letter-spacing: 1px;
}
.caption p {
    font-size: 13px;
    color: #fff !important;
    line-height: 30px;
    letter-spacing: 2px;
}
.social-icons.team-icons ul {
    margin: 0;
}
.social-icons.team-icons {
    position: absolute;
    bottom: -227px;
    margin: 0;
    left: 0;
    background: rgba(35, 214, 178, 0.72);
    padding: 1em;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
    width: 100%;
    text-align: center;
}
.thumbnail.team-w3agile:hover div.social-icons.team-icons {
    bottom: 0px;
}
.thumbnail.team-w3agile:hover {
    border-color: #fdbd10;
}
.head-interested-product {
    
    padding-top: 20px;
    padding-left: 10px;
}
.item-interested-product{
    margin: 30px;
    top: 15px;
    text-align: center;
    position: relative;
}
.item-interested-product:hover {
    border: 3px solid #00FFCC
}
.item-interested-product label{
   position: relative;
   margin-top: 10px;
   margin-bottom: 20px;
}
.item-interested-product label>a{

    color: #444444;
    font-size: 15px;
    font-weight: 500;
}
.item-interested-product > .add-cart-item-interested-product{
    background-color: #00FFCC;
    position: absolute;
    top: 40%;
    height: 30px;
    width: 50%;
    display: none;
    left: 25%;
    right: 25%;

}
.single_page_agile_its_w3ls{
    border-bottom:  none;
    border-left:  none;
    border-right: none;
}
.add-review .form-group{
    width: 100%;
}
.add-review .form-group input{
    width: 100%;
    border-radius: 0;
}
.add-review .form-group label{
    text-transform: uppercase;
    font: normal;
    margin-bottom: 10px;
}
.add-review input[type="email"]{
    margin-left: 0%;
}
.add-cart-item-interested-product a{
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    top:  15%;
    
}
.product-single{
    padding-top: 30px;
    width: 100%;

}
.product-single-right{
    margin-left: 10px;
}
.lable-item-interested{
    color: #363636;
    font-weight: 900;
}
.item-interested-product h5{
   color: red;
}
.item-interested-product h5 span{
   color: #B5B5B5;
  text-decoration: line-through;
}
.item-interested-product p{
   margin-top: 5px;
   margin-bottom: 5px;

}
.item-interested-product p span{

  background-color: red;
  color: white;

   
}
.color-quality-right input{
    border-radius: 0;
}
ul.infor-product li{
    width: 50%;
}
div.banner-bootom-w3-agileits div.container{
    padding-left: 0;
    padding-right: 0;
}
.more-product{
    bottom: 40px;
}
.more-product-head{
    margin-top: 30px;
    left: 10px;
    border-bottom: 1px solid #e6e6e6;
}
.coment-assess {
    margin-top: -25px;
    margin-bottom: 30px;
}
.coment-assess span.btn {
    
    float: right;
    height: 30px;
    color: white;
    margin-top: -30px;
    border-radius: 0;
    background-color: #33a3b3;
}
.comment-assess-content{
    margin-top: 20px;
}
.comment-assess-content textarea{
    border-radius: 0;
    
}
/*-- //Team --*/
/*-- /Responsive --*/
@media(max-width: 1000px)
{
    .product-men{
        width: 100%;
    }
    .product-single{
        margin-left: 10px;
    }
}
@media(max-width:991px){
	.team-grids {
		width: 25%;
		float: left;
	}
	.thumbnail.team-w3agile h4 {
		margin: 0em 0 0.3em;
	}
}
@media(max-width:800px){
 .team-grids {
  width: 50%;
  float: left;
  margin-bottom: 4em;
}
}
@media(max-width:768px){
	.team-grids {
		width: 50%;
		float: left;
		margin-bottom: 2em;
	}
}
@media(max-width:414px){
	.team-grids {
		width: 100%;
		float: none;
	}
	.team-grids:nth-child(3), .team-grids:nth-child(4) {
		margin-top: 0em!important;
	}
	.team-grids:nth-child(2), .team-grids:nth-child(4) {
		padding-top: 0em!important;
	}
}
/*-- //Responsive --*/